.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

.centrar{
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
