<nav class="navbar bg-light">
  <div class="container-fluid">
    <a href="/preguntas">
      <img
        src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/logo-sofkau_1Fn3uH-1S.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645658493330"
        alt="" width="200" height="75">
    </a>
    <button pButton pRipple type="button" label="HOME" class="p-button-outlined p-button-secondary"
      (click)="login()"><img
      src="https://img.icons8.com/glyph-neue/256/home-page.png"
      alt="" width="30" height="30" style="margin-right: 10px;"></button>
  </div>
</nav>
<br>
