
<p-toast></p-toast>
<ng-template #content let-modal>
    <div class="modal-header">
    </div>
    <div class="modal-body">

      <div class="container">
        <div class="card text-center">
          <div class="card-header font2">
            <b>Editar tu pregunta</b>
          </div>
          <div class="card-body p-4">
            <input id="type" class="form-control m-2 font2" type="text" placeholder="Tipo de pregunta" name="type" [(ngModel)]="question.type" required value="idanswer.id"/>
            <input id="category" class="form-control m-2 font2" type="text" placeholder="Categorio de la Pregunta" name="category" [(ngModel)]="question.category" required />

              <div class="form-floating font2" style="margin-top: 20px;">
                <textarea class="form-control m-2 font2" placeholder="Leave a comment here" id="question" style="height: 150px" [(ngModel)]="question.question"></textarea>
                <label for="floatingTextarea">Pregunta</label>


                <br>
              </div>
              <button  (click)="editQuestion(question)"  type="button" label="Actualizar Pregunta" class="btn btn-outline-success">Actualizar pregunta</button>

            <hr>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button   type="button" label="Cerrar" class="btn btn-outline-success" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>

  <button class="btn btn-success" (click)="openVerticallyCentered(content)" *ngIf="authService.userData">Editar</button>
